notebooks/inter_sample_violation.ipynb
notebooks/linear_case.ipynb
notebooks/nonlinear_case_OCP.ipynb
notebooks/.ipynb_checkpoints/
notebooks/test.ipynb
image/
funlopt_by_COP.py
funlopt_by_OCP.py
funlopt_by_OCP_refine.py
nl_funlopt_by_OCP.py
# trajopt.py
__pycache__/